div.menu {

  font-size: 2em;
  display: flex;
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;


  a {
    display: block;
  }

  a:focus {
    transition: all 0.2s ease-in;
    background-color: rgba(0, 221, 0, 0.4);
    outline: none;
    color: white;
    text-decoration: none;	
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  ul.listView {
    flex-direction: row;
    flex-grow: 0;
    li {
      margin: 0.1em 1em;
    }
    a {
      padding: 0.5em;
    }
  }



}