@import "src/theme";

div.navbar {
  flex-grow: 1;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 2em;

    > header {
      margin: 1em auto;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        padding: 0 1em;
      }

      li:not(:last-child) {
        border-right: 1px solid #00dd00;
      }
    }

    > main {
      h1, h2 {
        font-size: 1.5em;
      }
    }

  }
}