@import "src/theme";

div.tips {
  ul {
    display: flex;
    padding: 0em;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  ul:before {
    content: ' [ ';
    font-size: 3em;
    color: $primary;
    position: relative;
    bottom: 0.15em;
    left: 0.2em;
  }
  ul:after {
    content: ' ] ';
    font-size: 3em;
    color: $primary;
    position: relative;
    bottom: 0.15em;
    right: 0.2em;
  }
  li {
    padding: 0.5em;
    background-color: rgba($primary, 0.1);
  }
  a::before {
    content: none;
  }
  a::after {
    content: none;
  }
}